/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  @import "bootstrap/scss/bootstrap-grid";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  padding: 20px 26px 20px 26px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ==========================================================================================================================================
// base rules
// ========================================================================================================================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

header {
  text-align: center;
}

header h1 {
  font-family: Helvetica-Bold;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: start;
}

.link {
  font-family: Helvetica;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.link-two {
  font-family: Helvetica;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-decoration: underline;
  text-align: center;
}

.col-sm-2.burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 35px;
  height: 12px;
  position: fixed;
}

.cash {
  position: absolute;
  left: 0;
  top: 0;
}

.button {
  background: black;
  border-radius: 58.13px;
  transition: width 0.5s;
  user-select: none;
}

.button-one {
  height: 5px;
  width: 14px;
}

.button-two {
  height: 5px;
  width: 20px;
}

.button-tree {
  height: 5px;
  width: 6px;
}

.button-four {
  height: 5px;
  width: 28px;
}

.button-two-hover {
  height: 6px;
  width: 5px;
}

.button-one-hover {
  height: 5px;
  width: 28px;
}

.button-tree-hover {
  height: 5px;
  width: 20px;
}

.button-four-hover {
  height: 5px;
  width: 14px;
}
*/

@media (max-width: 992px) {
  .espace {
    display: none;
  }
}

@media (max-width: 992px) {
  .draw-glass {
    display: none;
  }
}

.header h1 {
  font-family: Helvetica-Bold;
  font-size: 140px;
  color: #000000;
  letter-spacing: 0;
  line-height: 152px;
}

@media (max-width: 992px) {
  .header h1 {
    font-size: 45px;
    line-height: 52px;
  }
}

@media (min-width: 992px) {
  .header h1 {
    padding: 42px 0 42px 0;
  }
}

.title-header {
  padding: 10px !important;
  padding-bottom: 0px !important;
}

.no-gutter {
  padding: 0 !important;
}

.grey {
  background-color: #d8d8d8;
}

.presentation h4 {
  font-family: Helvetica-Bold;
  font-size: 71px;
  letter-spacing: 0;
  margin-bottom: 25px;
}

.presentation p {
  font-family: Helvetica-Light;
  font-size: 25px;
  letter-spacing: 0;
}

@media (max-width: 800px) {
  .presentation-one h4 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .presentation-one h4 {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .presentation-one p {
    font-size: 14px;
  }
}

.presentation img {
  display: block;
  margin: auto;
}

.tastes img {
  transform: scale(2);
}

.place h4 {
  font-family: Helvetica-Bold;
  font-size: 71px;
  letter-spacing: 0;
  line-height: 78px;
  margin-bottom: 30px;
}

.place-one {
  padding: 34px !important;
}

@media (max-width: 800px) {
  .place-one {
    padding: 0px !important;
  }
}

h3 {
  font-family: Helvetica-Light;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 100;
}

.header-img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  h3 {
    font-size: 15px;
  }
}

.img-chevalier {
  padding: 0 !important;
}

.img-chevalier img {
  margin: auto;
}

.newsletter p {
  font-family: Helvetica;
  font-size: 21px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 85px;
}

.blue {
  padding: 34px !important;
  background-color: #b0f1ff;
}

@media (max-width: 495px) {
  .blue {
    padding: 22px 19px 16px 19px !important;
  }
}

.newsletter span {
  font-family: Helvetica;
  font-size: 23px;
  color: #5a8088;
  letter-spacing: 0;
  margin-right: 24px;
}

.news-letter-button {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: space-between;
}

@media (max-width: 460px) {
  .news-letter-button img {
  }
}

@media (max-width: 460px) {
  .newsletter p {
    font-size: 16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 768px) {
  .newsletter span {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .place h4 {
    font-size: 35px;
    text-align: center;
    margin: 0;
  }

  .place br {
    display: none;
  }
}

.title-product p {
  font-family: Helvetica-Bold;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
}

.name-product p {
  font-family: Helvetica;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
}

.info-product p {
  font-family: Helvetica-Light;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

.info-product p,
.name-product p {
  display: flex;
  flex-direction: row;
}

.place-img {
  padding: none !important;
}

.header-right {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-right .row {
  flex-grow: 1;
}

@media (min-width: 700px) {
  .img-supermarche {
    display: none;
  }
}

.footer-links a {
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  font-size: 100%;
  text-decoration: none;
}

@media (max-width: 440px) {
  .footer-links a {
    font-size: 11px;
  }
}

.footer-link {
  padding: 20px !important;
}

@media (min-width: 768px) {
  .footer-links ul {
    margin-right: 174px !important;
  }
}

ul li {
  list-style-type: none;
  margin-top: 11px;
}

ul {
  margin-right: 43;
}

.footer-link {
  flex-direction: row;
  display: flex;
}

.lign-arrow {
  border: solid black;
  border-width: 0px 0px 5px 0px;
  display: inline-block;
  width: 30px;
  text-align: center;
  position: relative;
  bottom: 10px;
  left: 25px;
}

.arrow-right {
  border: solid black;
  border-width: 0 5px 5px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 0px;
  left: 0px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
